* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

nav {
    min-height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    list-style-type: none;
}

.menu .menu_item .menu_link {
    font-weight: 200;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_link:hover {
    color: #e6bcbc;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 32px;
}

.subheader {
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo_img {
    max-width: 100%;
}

.logo_text {
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
}

.logo_text {
    font-weight: 200;
    color: #FFFFFF;
}

.call_number {
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.call_text {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}